/* @group Fundamentals */
@import "pt.css";

* {
  margin: 0;
  padding: 0;
}

/* Is this portable? */
html {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

body {
  background: #f0f0f0;
  color: #333;
  text-align: left;
  min-height: 100vh;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1, "liga" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 0;
  -o-font-feature-settings: "kern" 1, "liga" 0;
  font-feature-settings: "kern" 1, "liga" 0;
  letter-spacing: 0.0015rem;

  /* font-size: 50%; */
  float: none !important;
  /* margin: 64px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

  padding-left: 5%;
  padding-right: 5%;
}

table,
ul {
  line-height: 1.35rem;
}

ul li + li {
  margin-top: 0.2rem;
}

ul + p {
  margin-top: 0.93em;
}

p + ul {
  margin-top: 0.5em;
}

p {
  margin-top: 0.7rem;
}

ul,
ol {
  margin: 0.8em 0 0.8em 2em;
}

dl {
  margin: 0.8em 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}

a {
  text-decoration: none;
}
a[href]:hover {
  text-decoration: underline;
}

/* @end */

/* @group Fonts & Sizes */

/* Basic technique & IE workarounds from YUI 3
     For reasons, see:
        http://yui.yahooapis.com/3.1.1/build/cssfonts/fonts.css
   */

body,
button {
  font: 400 17px/1.43 "PT Sans", /* Fallback Font Stack */ -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell,
    "Helvetica Neue", sans-serif;
  *font-size: medium; /* for IE */
  *font: x-small; /* for IE in quirks mode */
}

h1 {
  font-size: 120%; /* 20px */
}
h2 {
  font-size: 110%; /* 17px */
}
h3 {
  font-size: 100%; /* 15px */
}
h4 {
  font-size: 95%; /* 13px */
}
h5 {
  font-size: 90%; /* 13px */
}
h6 {
  font-size: 85%; /* 13px */
}

select,
input,
button,
textarea {
  font-size: 1rem;
  margin: 0.5em;
  padding: 0.1em;
}

table {
  margin: 0.8em 0;
  font-size: inherit;
  font: 100%;
}

pre,
code,
kbd,
samp,
.src {
  font-family: monospace;
}

.links,
.link {
  font-size: 85%; /* 11pt */
}

#module-header .caption {
  font-size: 182%; /* 24pt */
}

.info {
  font-size: 85%; /* 11pt */
}

.candidate-warn {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 0.01em 16px;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.candidate-info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
  padding: 0.01em 16px;
  margin-bottom: 8px;
}

.caption,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1.33em 0 0.7em 0;
  line-height: 1.05em;
}

/* @end */

/* @group Common */

h1 {
  font-size: 2em;
}

#content h1:first-of-type {
  margin-top: 1.6em;
  margin-bottom: 0.75em;
}

ul.links li {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}

ul.links li + li:before {
  content: "\00B7";
}

ul.links li a,
ul.links li form {
  padding: 0.2em 0.5em;
}

.hide {
  display: none;
}
.show {
  display: inherit;
}
.clear {
  clear: both;
}

.collapser:before,
.expander:before {
  font-size: 0.9em;
  color: #5e5184;
  display: inline-block;
  padding-right: 7px;
}

.collapser:before {
  content: "-";
}
.expander:before {
  content: "+";
}

.collapser,
.expander {
  cursor: pointer;
}

pre {
  padding: 0.5rem 1rem;
  margin: 1em 0;
  background-color: #f7f7f7;
  overflow: auto;
}

pre + p {
  margin-top: 1em;
}

pre + pre {
  margin-top: 0.5em;
}

blockquote {
  border-left: 3px solid #c7a5d3;
  background-color: #eee4f1;
  margin: 0.5em;
  padding: 0.0005em 0.3em 0.5em 0.5em;
}

.src {
  background: #f4f4f4;
  padding: 0.2em 0.5em;
}

.keyword {
  font-weight: normal;
}
.def {
  font-weight: bold;
}

/* @end */

/* @group properties */

#properties table.properties {
  table-layout: fixed;
  width: 100%;
  margin: 7px 0;
  line-height: 1.2em;
}

div#properties table.properties thead,
div#properties table.properties tbody,
div#properties table.properties tr,
div#properties table.properties td,
div#properties table.properties th {
  display: block;
}

div#properties table.properties td {
  font-size: 1rem;
}

div#properties table.properties tr {
  padding-bottom: 3px;
}

div#properties table.properties td {
  padding-top: 0px;
}

div#properties table.properties .star-rating {
  overflow: hidden;
  padding: 2px 0;
}

div #description img {
  max-width: 55%;
}

div #description table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

div #description table tr td {
  border: 1px solid #ddd;
  padding: 0.15em 0.45em;
}

div #description table th {
  padding: 0.15em 0.45em;
  background: #f0f0f0;
}

table.properties td:first-child,
table.properties th:first-child {
  padding-left: 0;
}

table.properties td:last-child,
table.properties th:last-child {
  padding-right: 0;
}

table.properties td,
table.properties th {
  vertical-align: top;
  text-align: left;
}

.word-wrap {
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* @end */

/* @group responsive */

@media only screen and (min-width: 1920px) {
  #content {
    width: 60vw;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  #content {
    width: 65vw;
  }
}

@media only screen and (min-width: 1280px) {
  #table-of-contents {
    position: fixed;
    left: 10px;
    max-width: 10vw;
    top: 10.2em;
  }

  #content {
    max-width: 1450px;
  }
}

@media only screen and (max-width: 1279px) {
  div #description img {
    max-width: 45%;
  }

  #content {
    width: 75vw;
  }
}

@media only screen and (min-width: 950px) {
  #page-header {
    text-align: left;
    white-space: nowrap;
    height: 40px;
    padding: 4px 1.5em 0px 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #page-header .caption + ul.links {
    margin-left: 1em;
  }

  #page-header ul.links {
    list-style: none;
    display: inline-table;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div #properties {
    float: right;
    background: #fefefe;
    width: 40%;
    margin-left: 2em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 949px) {
  #content {
    width: 88vw;
  }

  #page-header {
    text-align: center;
    padding: 6px 0 4px 0;
    overflow: hidden;
  }

  #page-header ul.links {
    display: block;
    text-align: center;
    margin: 0;

    /* Hide scrollbar but allow scrolling menu links horizontally */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -17px;
    height: 50px;
  }

  #page-header ul.links::-webkit-scrollbar {
    display: none;
  }

  #page-header ul.links li:first-of-type {
    padding-left: 1em;
  }

  #page-header ul.links li:last-of-type {
    /*
      The last link of the menu should offer the same distance to the right
      as the #page-header enforces at the left.
      */
    padding-right: 1em;
  }

  #page-header .caption + ul.links {
    padding-top: 9px;
  }

  div #properties {
    width: 100%;
    margin: 1.3em 0;
  }

  div #description img {
    max-width: 100%;
  }
}

/* @end */

/* @group Page Structure */

#content {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 3em;
}

#page-header {
  background: #5e5184;
  border-bottom: 5px solid rgba(69, 59, 97, 0.5);
  color: #ddd;
  position: relative;
  font-size: 1.2em;
  margin: 0 auto;
}

#page-header .caption {
  background: url(https://hackage.haskell.org/static/icons/ic_haskell_grayscale_32.svg)
    no-repeat 0em;
  color: white;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  padding-left: 2.2em;
  font-size: 1.1rem;
}

#page-header ul.links,
#page-header ul.links button {
  font-size: 1rem;
}

#page-header ul.links li + li {
  margin-top: 0px;
}

#page-header a:link,
#page-header a:visited {
  color: white;
}

#module-header .caption {
  color: rgb(94, 81, 132);
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

table.info {
  float: right;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  color: rgb(78, 98, 114);
  background-color: #fff;
  max-width: 60%;
  border-spacing: 0;
  position: relative;
  top: -0.78em;
  margin: 0 0 0 2em;
}

.info th {
  padding: 0 1em 0 0;
}

div#style-menu-holder {
  position: relative;
  z-index: 2;
  display: inline;
}

#style-menu {
  position: absolute;
  z-index: 1;
  overflow: visible;
  background: #374c5e;
  margin: 0;
  text-align: center;
  right: 0;
  padding: 0;
  top: 1.25em;
}

#style-menu li {
  display: list-item;
  border-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  list-style-type: none;
}

#style-menu li + li {
  border-top: 1px solid #919191;
}

#style-menu a {
  width: 6em;
  padding: 3px;
  display: block;
}

#footer {
  background: #ededed;
  border-top: 1px solid #aaa;
  padding: 0.5em 0;
  color: #222;
  text-align: center;
  width: 100%;
  height: 3em;
  margin-top: 3em;
  position: relative;
  clear: both;
}

/* @end */

/* @search box */

ul.links li form {
  display: inline-block;
}
ul.links li form input {
  border: 0px;
  padding: 1px;
  margin: 0px;
  width: 8em;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

ul.links li form button {
  border: 0px;
  margin: 0px;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

/* @end */

/* @group Front Matter */

#table-of-contents {
  background: #f7f7f7;
  padding: 1em;
  margin: 0;
  margin-top: 1em;
}

#table-of-contents .caption {
  text-align: left;
  margin: 0;
  font-size: 1.08rem;
}

#table-of-contents ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  font-size: 95%;
}

#table-of-contents ul ul {
  margin-left: 2em;
}

#description .caption {
  display: none;
}

#synopsis {
  display: none;
}

.no-frame #synopsis {
  display: block;
  position: fixed;
  right: 0;
  height: 80%;
  top: 10%;
  padding: 0;
}

#synopsis .caption {
  float: left;
  width: 29px;
  color: rgba(255, 255, 255, 0);
  height: 110px;
  margin: 0;
  font-size: 1px;
  padding: 0;
}

#synopsis ul {
  height: 100%;
  overflow: auto;
  padding: 0.5em;
  margin: 0;
}

#synopsis ul ul {
  overflow: hidden;
}

#synopsis ul,
#synopsis ul li.src {
  background-color: #faf9dc;
  white-space: nowrap;
  list-style: none;
  margin-left: 0;
}

/* @end */

/* @group Main Content */
#interface div.top + div.top {
  margin-top: 3em;
}
#interface div.top {
  margin: 2em 0;
}
#interface h1 + div.top,
#interface h2 + div.top,
#interface h3 + div.top,
#interface h4 + div.top,
#interface h5 + div.top {
  margin-top: 1em;
}

#interface .src .link {
  float: right;
  color: #888;
  padding: 0 7px;
  -moz-user-select: none;
  font-weight: bold;
  line-height: 30px;
}
#interface .src .selflink {
  margin: 0 -0.5em 0 0.5em;
}

#interface table {
  border-spacing: 2px;
}
#interface td {
  vertical-align: top;
  padding-left: 0.5em;
}
#interface td.src {
  white-space: nowrap;
}
#interface td.doc p {
  margin: 0;
}
#interface td.doc p + p {
  margin-top: 0.8em;
}

.subs dl {
  margin: 0;
}

.subs dt {
  float: left;
  clear: left;
  display: block;
  margin: 1px 0;
}

.subs dd {
  float: right;
  width: 90%;
  display: block;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

.subs dd.empty {
  display: none;
}

.subs dd p {
  margin: 0;
}

.subs .subs .caption {
  margin-top: 16px !important;
  margin-bottom: 0px !important;
}

.subs .subs .caption + .src {
  margin: 0px;
  margin-top: 8px;
}

.subs .subs .src + .src {
  margin-top: 8px;
}

.top p.src {
  border-bottom: 3px solid #e5e5e5;
  line-height: 2rem;
  margin-bottom: 1em;
}

.subs,
.doc {
  /* use this selector for one level of indent */
  padding-left: 2em;
}

.arguments {
  margin-top: -0.4em;
}
.arguments .caption {
  display: none;
}

.fields {
  padding-left: 1em;
}

.fields .caption {
  display: none;
}

.fields p {
  margin: 0 0;
}

/* this seems bulky to me
  .methods, .constructors {
    background: #f8f8f8;
    border: 1px solid #eee;
  }
  */

/* @end */

/* @group Auxillary Pages */

#mini {
  margin: 0 auto;
  padding: 0 1em 1em;
}

#mini > * {
  font-size: 93%; /* 12pt */
}

#mini #module-list .caption,
#mini #module-header .caption {
  font-size: 125%; /* 15pt */
}

#mini #interface h1,
#mini #interface h2,
#mini #interface h3,
#mini #interface h4 {
  font-size: 109%; /* 13pt */
  margin: 1em 0 0;
}

#mini #interface .top,
#mini #interface .src {
  margin: 0;
}

#mini #module-list ul {
  list-style: none;
  margin: 0;
}

#alphabet ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0;
  text-align: center;
}

#alphabet li {
  display: inline;
  margin: 0 0.25em;
}

#alphabet a {
  font-weight: bold;
}

#index .caption,
#module-list .caption {
  font-size: 131%; /* 17pt */
}

#index table {
  margin-left: 2em;
}

#index .src {
  font-weight: bold;
}
#index .alt {
  font-size: 77%; /* 10pt */
  font-style: italic;
  padding-left: 2em;
}

#index td + td {
  padding-left: 1em;
}

#module-list ul {
  list-style: none;
  margin: 0 0 0 20px;

  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Disable identation for the top level modules */
#modules #module-list > ul.modules {
  margin-left: 0px;
}

#modules #module-list ul.modules > li > i {
  padding-bottom: 0.33rem;
  display: block;
}

#detailed-dependencies ul {
  list-style: none;
  margin: 0 0 0 2em;
}

#module-list span.collapser,
#module-list span.expander {
  background-position: 0 0.3em;
}

#module-list .package {
  float: right;
}

small.info {
  color: #888;
}

/* @end */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Flags table */

.flags-table td {
  padding-right: 1em;
  padding-bottom: 0.25em;
  vertical-align: top;
}

.flags-table .flag-disabled {
  color: #888;
}

td.flag-desc p {
  margin: 0 0 0 0;
}

p.tip {
  font-size: 85%;
}

.code {
  font-family: monospace;
}

.preformatted {
  white-space: pre;
}

.embedded-author-content {
  border-left: 1px solid #d8d7ad;
  padding: 0.5em 1em;
  margin: 0.5em 0 1em 1em;
}

.embedded-author-content img {
  max-width: 100%;
}

/* Misc admin forms */

.box {
  background: #faf9dc;
  border: 1px solid #d8d7ad;
  padding: 0.5em 1em;
  max-width: 35em;
  margin: 0.5em 0 1em 1em;
}

table.simpletable th,
table.simpletable td {
  padding: 0.2em 1em;
}

table.fancy {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table.fancy tr {
  border: 1px solid #ddd;
  border-width: 1px 0;
}

table.fancy th {
  background: #f0f0f0;
}

table.fancy td,
table.properties td,
table.fancy th,
table.properties th {
  padding: 0.15em 0.45em;
}

table.dataTable.compact.fancy tbody th,
table.dataTable.compact.fancy tbody td {
  padding: 6px 10px;
  line-height: normal;
}

ul.searchresults li {
  margin-bottom: 1em;
}

ul.directory-list {
  list-style: none;
  margin: 0 0 0 2em;
}

.text-button {
  font-size: small;
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(196, 69, 29);
}

.text-button:hover {
  text-decoration: underline;
}

/* Package versions */

a.unpreferred[href]:link {
  color: #ecba13;
}
a.unpreferred[href]:visited {
  color: #ecba13;
}

a.deprecated[href]:link {
  color: #d00b3c;
}
a.deprecated[href]:visited {
  color: #d00b3c;
}

.versions a.normal[href]:link {
  color: #61b01e;
}

.versions a.normal[href]:visited {
  color: #61b01e;
}

p.registration-email {
  border: 1px solid rgb(196, 69, 29);
  padding: 0 1em;
}
